/* Importação das Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema Claro e Escuro */
.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.nav-link.active {
    color: #548d94 !important;
}

.nav-link:hover {
    color: #77b1b6 !important;
}

/* Estilização dos Ícones */
.icon {
    font-size: 48px;
    color: #01454f;
}

/* Botões Personalizados */
.btn-primary {
    background-color: #46ae48;
    color: white;
}

.btn-secondary {
    background-color: #548d94;
    color: white;
}

.hr-home {
    border: 1px solid #f0f0f0;
    margin: 1rem 3rem;

}

.bg-green {
    background-color: #264e27;
}

.texto-logo-home {
    width: 500px;
}

.logo-navmenu {
    width: 200px;
}