/* Importação das Fontes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Tema Claro e Escuro */
.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

.nav-link.active {
    color: #548d94 !important;
}

.nav-link:hover {
    color: #77b1b6 !important;
}

/* Estilização dos Ícones */
.icon {
    font-size: 48px;
    color: #01454f;
}

/* Botões Personalizados */
.btn-primary {
    background-color: #46ae48;
    color: white;
}

.btn-secondary {
    background-color: #548d94;
    color: white;
}

.hr-home {
    border: 1px solid #f0f0f0;
    margin: 1rem 3rem;

}

.bg-green {
    background-color: #01454F;
}

.texto-logo-home {
    width: 500px;
}

.logo-navmenu {
    width: 200px;
}

.imagens-sobre {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: center;
    display: block;
}

.featurette-container {
    margin-bottom: 2rem;
}

.featurette {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; /* Espaço entre os blocos */
}

.featurette-text {
    padding: 1rem;
}

.featurette-image {
    text-align: center;
}

.featurette-image img {
    width: 100%;
    max-width: 500px;
    height: auto; /* Mantém a proporção */
    object-fit: cover; /* Corta a imagem se necessário */
}

@media (max-width: 768px) {
    .featurette {
        flex-direction: column; /* Empilha conteúdo em telas menores */
    }
}

.hero {
    background-image: url('/notebookcentury/assets/imgs/royaltyfreeimgs/contato.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.contact-icon {
    font-size: 3rem;
    color: #007bff; /* Cor do ícone */
}